
/* ---------Loading style----------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.form {
    width: 70%;
    margin: auto;
    margin-left: 25%;
}

/* table {
    margin: auto;
    padding: 5px;
} */

tr input {
    margin: 7px;
    padding: 11px;
}

.main-heading {
    display: block;
    width: 1000px;
    text-align: center;
}

.main-heading {
    margin: 10px;
    padding: 0px;
    width: 200px;
}

.tdd {
    margin: 10px;
    padding: 0px;
    width: 200px;
}

.user-design {
    margin: auto;
    width: 40%;
    text-align: center;
    margin-bottom: 15px;
}

input#user1 {
    font-size: 18px;
    border-radius: 8px 15px 15px 8px;
    text-align: center;
    outline: none;
    width: 133px;
    height: 31px;
    margin-right: -19px;
    font-weight: 700;
}

.displayN {
    display: none;
}

.deletData {
    display: none;
}

table#hedigDesign {
    width: 52%;
    font-size: 20px;
    padding: 0px;
    font-weight: bold;
    /* margin-bottom: -15px; */
    margin: auto;
    margin-left: 25.4%;
    text-align: center;
}

td.htd {
    width: 205px;
}

.National University {
    display: flex;
    margin: 0px auto;
    width: 85%;
    text-align: center;
}

.btn-design {
    margin: auto;
    width: 52%;
    text-align: center;
    height: 40px;
    margin-top: 16px;
    margin-left: 25.5%;
    /* margin-bottom: 25.5%; */
}

button.calculateBtn {
    width: 32%;
    height: 35px;
    font-size: 20px;
}

button.reasetbtn {
    width: 35%;
    height: 35px;
    font-size: 20px;
    background-color: #ff7d68;
    color: white;
}

button.add {
    width: 31%;
    height: 35px;
    font-size: 20px;
}

input.box {
    width: 95%;
}

@media screen and (max-width: 700px) {


    table#hedigDesign {
        width: 84.5%;
        font-size: 14px;
        margin: auto;

    }

    h1.name-National University {
        margin-top: 15px;
        font-size: 22px;
    }

    .user-design {
        margin: auto;
        width: 100%;
        text-align: center;
        margin-bottom: 8%;
        margin-top: 8%;
    }

    .National University {
        display: block;
        margin: 0px auto;
        width: 100%;
        text-align: center;
    }

    h1.name-National University {
        margin-top: 15px;
        font-size: 2rem;
        padding: 6px;
        margin: 1px;
    }

    input.box {
        width: 95%;
    }

    .form {
        width: 100%;
        margin: auto;
        margin-left: 7%;
    }

    .Dsbutton {
        width: 100%;
        display: block;
        margin: 0.4em auto;
    }

    .btn-design {
        margin: auto;
        width: 100%;
        text-align: center;
        height: 50%;
        margin-top: 16px;
        /* margin-bottom: 25.5%;; */
    }

    button.calculateBtn {
        width: 85%;
        height: 35px;
        font-size: 20px;
    }

    button.reasetbtn {
        width: 85%;
        height: 35px;
        font-size: 20px;
        background-color: #ff7d68;
        color: white;
    }

    button.add {
        width: 85%;
        height: 35px;
        font-size: 20px;
    }

}

/* @media screen and (min-width: 551px) and (max-width: 1050px) { */
@media screen and (min-width: 701px) and (max-width: 1050px) {
    
    footer {
        background: #1A1E25;
        color: #868c96;
        margin-bottom: -5%;
    }

    .btn-design {
        margin: auto;
        width: 52%;
        text-align: center;
        height: 40px;
        margin-left: 25.5%;
        /* margin-bottom: 35.5%; */

    }

    button.calculateBtn {
        width: 30%;

    }

    button.reasetbtn {
        width: 30%;

    }

    button.add {
        width: 37%;

    }

    .grade-design {
        margin: auto;
        width: 52%;
        margin-left: 25.5%;
        margin-top: 28%;
        margin-bottom: 25px;
    }

}

.msg {
    color: blue;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
}

button.addRowbtn {
    width: 90px;
    height: 40px;
    font-size: 1rem;
    background: #ceffcf;
    border-radius: 2px 0px 0px 0px;
}

.lod {
    margin-top: 1rem;
}

h1.name-National University {
    margin-top: 15px;
    font-size: 31px;
}

input:focus {
    outline: 2px solid rgb(25, 187, 228);
    /* border-radius: 7px; */
}

.Dsbutton {
    display: inline-block;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    margin-left: 33%;
}

.grade-design {
    margin: auto;
    width: 52%;
    margin-left: 25.5%;
    margin-top: 20px;
    margin-bottom: 25px;
}

.table1 td {
    padding: 7px;
    /* margin: 8px; */
    /* width: 27%; */
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;
}

.table1 tr:nth-child(even) {
    background-color: #d7e1ec;
}

.table1 tr:nth-child(odd) {
    background-color: #e6f0ff;
}

.line1 {

    height: 1px;
    background-color: black;
    margin: auto;
    width: 88%;
    margin-bottom: 10px;

}


/* foter design */



footer {
    background: #1A1E25;
    color: #868c96;
    margin-bottom: -4%;
    margin-top: 40%;
}

footer p {
    padding: 10px 0;
    text-align: center;
}

footer img {
    width: 44px;
}



/* foter design end*/
